<% include ../partials/header %>

<h1>This is the show template</h1>

<p><%= campground.name %></p>

<img src=<%= campground.image %>>

<p><%= campground.description %></p>

<p>
    <a class="btn btn-primary" href="/campgrounds/<%= campground.id %>/comments/new">New Comment</a>
</p>

<% campground.comments.forEach(function(comment) { %>
    <p>
        <strong><%= comment.author %> - <%= comment.text %></strong>
    </p>
<% }) %>

<% include ../partials/footer %>